version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: MindMate-BE/Dockerfile
    env_file:
      - MindMate-BE/.env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: MindMate-FE/Dockerfile
      args:
        VITE_API_URL: "http://localhost:8000"
    ports:
      - "3000:80"
    depends_on:
      - backend
